## Deliverable 2. Create a Customer Travel Destinations Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [5]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Vaini,TO,-21.2000,-175.2000,75.36,83,20,5.75,few clouds
1,1,Hilo,US,19.7297,-155.0900,79.25,74,40,6.91,scattered clouds
2,2,Tiksi,RU,71.6872,128.8694,11.77,93,100,5.95,overcast clouds
3,3,Chuy,UY,-33.6971,-53.4616,62.65,63,81,10.87,broken clouds
4,4,Ushuaia,AR,-54.8000,-68.3000,51.42,43,75,17.27,broken clouds

In [6]:
# 2. Prompt the user to enter minimum and maximum temperature criteria  
min_temp = float(input('What is the minimum temperature you would like for your trip? '))
max_temp = float(input('What is the maximum temperature you would like for your trip? '))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [8]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
clean_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) & \
                                       (city_data_df['Max Temp'] >= min_temp)]
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Vaini,TO,-21.2000,-175.2000,75.36,83,20,5.75,few clouds
1,1,Hilo,US,19.7297,-155.0900,79.25,74,40,6.91,scattered clouds
5,5,Bengkulu,ID,-3.8004,102.2655,74.73,90,100,5.32,light rain
7,7,Butaritari,KI,3.0707,172.7902,81.36,74,44,9.33,scattered clouds
8,8,Mahebourg,MU,-20.4081,57.7000,75.49,73,75,6.91,light rain
...,...,...,...,...,...,...,...,...,...,...
699,699,Puerto Escondido,MX,15.8500,-97.0667,86.83,66,75,10.36,broken clouds
701,701,Kutum,SD,14.2000,24.6667,79.21,21,80,12.39,broken clouds
705,705,Maraa,BR,-1.8333,-65.3667,87.66,62,97,3.36,overcast clouds
709,709,Mount Isa,AU,-20.7333,139.5000,76.77,44,75,3.44,light rain
712,712,Kloulklubed,PW,7.0419,134.2556,81.48,79,100,9.95,overcast clouds

In [9]:
# 4a. Determine if there are any empty rows.
clean_df.isnull().sum()

City_ID                0
City                   0
Country                3
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [10]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = clean_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Vaini,TO,-21.2000,-175.2000,75.36,83,20,5.75,few clouds
1,1,Hilo,US,19.7297,-155.0900,79.25,74,40,6.91,scattered clouds
5,5,Bengkulu,ID,-3.8004,102.2655,74.73,90,100,5.32,light rain
7,7,Butaritari,KI,3.0707,172.7902,81.36,74,44,9.33,scattered clouds
8,8,Mahebourg,MU,-20.4081,57.7000,75.49,73,75,6.91,light rain
...,...,...,...,...,...,...,...,...,...,...
699,699,Puerto Escondido,MX,15.8500,-97.0667,86.83,66,75,10.36,broken clouds
701,701,Kutum,SD,14.2000,24.6667,79.21,21,80,12.39,broken clouds
705,705,Maraa,BR,-1.8333,-65.3667,87.66,62,97,3.36,overcast clouds
709,709,Mount Isa,AU,-20.7333,139.5000,76.77,44,75,3.44,light rain
712,712,Kloulklubed,PW,7.0419,134.2556,81.48,79,100,9.95,overcast clouds

In [11]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Vaini,TO,75.36,few clouds,-21.2000,-175.2000,
1,Hilo,US,79.25,scattered clouds,19.7297,-155.0900,
5,Bengkulu,ID,74.73,light rain,-3.8004,102.2655,
7,Butaritari,KI,81.36,scattered clouds,3.0707,172.7902,
8,Mahebourg,MU,75.49,light rain,-20.4081,57.7000,
9,Bintulu,MY,75.61,few clouds,3.1667,113.0333,
10,Ponta Do Sol,PT,76.01,overcast clouds,32.6667,-17.1000,
12,Kudahuvadhoo,MV,82.72,broken clouds,2.6708,72.8944,
18,Nantucket,US,70.14,clear sky,41.2835,-70.0995,
20,Moussoro,TD,86.85,overcast clouds,13.6408,16.4901,

In [17]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    lng = row['Lng']
    
    # 6c. Get latitude and longitude from DataFrame
    params['location'] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        hotel_df['Hotel Name'].replace('', np.nan, inplace=True)

NameError: name 'np' is not defined

In [19]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df = hotel_df.dropna()
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Vaini,TO,75.36,few clouds,-21.2000,-175.2000,Keleti Beach Resort
1,Hilo,US,79.25,scattered clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
5,Bengkulu,ID,74.73,light rain,-3.8004,102.2655,Grage Hotel Bengkulu
7,Butaritari,KI,81.36,scattered clouds,3.0707,172.7902,Isles Sunset Lodge
8,Mahebourg,MU,75.49,light rain,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
...,...,...,...,...,...,...,...
699,Puerto Escondido,MX,86.83,broken clouds,15.8500,-97.0667,
701,Kutum,SD,79.21,broken clouds,14.2000,24.6667,
705,Maraa,BR,87.66,overcast clouds,-1.8333,-65.3667,
709,Mount Isa,AU,76.77,light rain,-20.7333,139.5000,
712,Kloulklubed,PW,81.48,overcast clouds,7.0419,134.2556,

In [21]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [23]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [24]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))